{% extends "dashboard/dashboard_base.html" %} 
{% load layout_tags %} 
{% block dashboard_menu %} 
  {% dashboard_left_menu "commerce" "my-enterprises" %} 
{% endblock dashboard_menu %} 

{% block body %}
<div class="pageheader">
  <h2><i class="fa fa-home"></i> Daftar Toko <span>Subtitle goes here...</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li class="active">Daftar Toko</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  <a  href="{% url "create_enterprise" %}" class="btn btn-success pull-right tooltips" title="Buat toko baru" data-toggle="tooltip" data-trigger="hover">Buat Toko</a>
  <br/>
  <br/>
  <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
          <table class="table table-hidaction table-hover mb30">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for enterprise in enterprises %}
              <tr>
                <td style="width:80px;"><img class="" height="48" src="{{ STATIC_URL }}dashboard/images/photos/user1.png" alt=""/></td>
                <td><a href="{% url 'enterprise_detail' enterprise.slug %}"><strong>{{ enterprise.name }}</strong></a></td>
                <td>{{ enterprise.description }}</td>
                <td class="table-action-hide text-center">
                  <a style="opacity: 0;" href="{% url "edit_enterprise" enterprise.slug %}"><i class="fa fa-pencil"></i></a>
                  <a style="opacity: 0;" href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div><!-- table-responsive -->
        </div><!-- col-md-6 -->
    <!-- activity-list -->
  </div>
  <!-- row -->
</div>
<!-- contentpanel -->
{% endblock body %}
{% block extra_body %}
<script type="text/javascript">
  $(function(){
    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
  });
</script>
{% endblock extra_body %}