{% extends "theme_base_unify.html" %}
{% load layout_tags %}

{% block top_menu %}
    {% unify_top_menu "services" %}
{% endblock top_menu %}

{% block body %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="pull-left">Our Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Services</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
    	<!-- Our Services -->
		<div class="row-fluid">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p><br />

			<div class="row-fluid servive-block">
                <div class="span4">
                    <h4>Lorem sequat ipsum de</h4>
                    <p><i class="icon-bell"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Vivamus imperdiet gravi</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Donec idslacs elit nomi</h4>
                    <p><i class="icon-lightbulb"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
            </div><!--/row-fluid-->

			<div class="row-fluid servive-block">
                <div class="span4">
                    <h4>Lorem sequat ipsum de</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Vivamus imperdiet gravi</h4>
                    <p><i class=" icon-refresh"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Donec idslacs elit nomi</h4>
                    <p><i class="icon-volume-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
            </div><!--/row-fluid-->
        </div><!--/row-fluid-->        
    	<!--//End Our Services -->
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock body %}