<div class="nav-collapse collapse">                                     
    <ul class="nav top-2">
        <li {% ifequal active_item 'home' %}class="active"{% endifequal %}>
            <a href="{% url "home" %}">Home                   
            </a>                      
        </li>
        <li {% ifequal active_item 'services' %}class="active"{% endifequal %}>
            <a href="{% url "services" %}">Fitur                         
            </a>                      
        </li>
        <li {% ifequal active_item 'pricing' %}class="active"{% endifequal %}>
            <a href="{% url "pricing" %}">Harga                           
            </a>                      
        </li>
        <li {% ifequal active_item 'faq' %}class="active"{% endifequal %}>
            <a href="{% url "faq" %}">FAQ                        
            </a>                 
        </li>
        <li {% ifequal active_item 'contact' %}class="active"{% endifequal %}>
            <a href="{% url "contact" %}">Contact                        
            </a>                    
        </li>                            
    </ul>
</div><!-- /nav-collapse -->          