{% extends "dashboard/dashboard_base.html" %} 
{% load layout_tags %} 
{% block dashboard_menu %} 
  {% dashboard_left_menu "dashboard" "notifications" %} 
{% endblock dashboard_menu %} 

{% block body %}
<div class="pageheader">
  <h2><i class="fa fa-home"></i> Pemberitahuan <span>Subtitle goes here...</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li class="active">Pemberitahuan</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  <div class="row">
    <div class="activity-list">
      <div class="media act-media">
        <a class="pull-left" href="#">
        <img class="media-object act-thumb" src="{{ STATIC_URL }}dashboard/images/photos/user1.png" alt=""/>
        </a>
        <div class="media-body act-media-body">
          <strong>Ray Sin</strong> started following <strong>Eileen Sideways</strong>. <br/>
          <small class="text-muted">Yesterday at 3:30pm</small>
        </div>
      </div>
      <div class="media act-media">
        <a class="pull-left" href="#">
        <img class="media-object act-thumb" src="{{ STATIC_URL }}dashboard/images/photos/user5.png" alt=""/>
        </a>
        <div class="media-body act-media-body">
          <strong>Weno Carasbong</strong> started following <strong>Eileen Sideways</strong>. <br/>
          <small class="text-muted">December 15 at 3:30pm</small>
        </div>
      </div>
    </div>
    <!-- activity-list -->
    <button class="btn btn-white btn-block">Show More</button>
  </div>
  <!-- row -->
</div>
<!-- contentpanel -->
{% endblock body %}