{% extends "theme_base_unify.html" %}
{% load layout_tags %}

{% block top_menu %}
    {% unify_top_menu "" %}
{% endblock top_menu %}

{% block body %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="color-green pull-left">Login Member</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Login Member</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">	
	<div class="row-fluid">
        <div id="system_message_div" style="margin-top: 10px;">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong> {{ message }} </strong>
        </div>
        {% endfor %}
        </div>
        <form class="log-page" method="POST" action="{% url "account_login" %}"/>
            {% csrf_token %}
            <h3>Login Member</h3> 
            <hr>
            {% if form.errors and not form.username.errors and not form.password.errors %}
                <ul class="errorlist">
                    <li>The email and/or password you specified are not correct.</li>
                </ul>
            {% endif %}
            {% if form.email.errors %}
                <span>{{ form.email.errors }}</span>
            {% endif %}   
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope-alt"></i></span>
                <input class="input-xlarge" type="text" id="id_email" name="email" placeholder="Email" />
            </div>
            {% if form.password.errors %}
                <span>{{ form.password.errors }}</span>
            {% endif %} 
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input class="input-xlarge" type="password" id="id_password" name="password" placeholder="Password" />
            </div>
            <div class="controls form-inline">
                <button class="btn-u pull-right" type="submit">Masuk</button>
            </div>
            <br>
            <hr />
            <a class="color-green" href="#">Lupa password</a>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->

{% endblock body %}