{% extends "theme_base_unify.html" %}
{% load layout_tags %}

{% block top_menu %}
    {% unify_top_menu "" %}
{% endblock top_menu %}


{% block body %}
<!--=== Content Part ===-->
<div class="body">
	<div class="breadcrumbs margin-bottom-50">
    	<div class="container">
            <h1 class="color-green pull-left">Daftar</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                <li class="active">Daftar</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->

	<div class="container">		
		<div class="row-fluid margin-bottom-10">
        	<form class="reg-page" method="POST" action="{% url "account_signup" %}" onsubmit=" return check_form();"/>
                {% csrf_token %}
            	<h3>Daftar akun baru</h3>
                <p>Sudah mendaftar? Klik <a href="page_login.html" class="color-green">Login</a> untuk masuk ke akun anda.</p>
                <hr>

                {% if form.non_field_errors %}
                    <div class="alert alert-error">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="controls">
                    {% if form.first_name.errors %}
                        <span>{{ form.first_name.errors }}</span>
                    {% endif %}    
                    <label>Nama Depan <span class="color-red">*</span></label>
                    <input type="text" id="first_name" name="first_name" class="span12" />

                    {% if form.last_name.errors %}
                        <span>{{ form.last_name.errors }}</span>
                    {% endif %}
                    <label>Nama Belakang <span class="color-red">*</span></label>
                    <input type="text" id="last_name" name="last_name" class="span12" />

                    {% if form.email.errors %}
                        <span>{{ form.email.errors }}</span>
                    {% endif %}
                    <label>Email <span class="color-red">*</span></label>
                    <input type="text" id="id_email" name="email" class="span12" />
                </div>
                <div class="controls">
                    {% if form.password.errors %}
                        <span>{{ form.password.errors }}</span>
                    {% endif %}
                    <label>Password <span class="color-red">*</span> </label>
                    <input type="password" id="id_password" name="password" class="span12" />
                    
                    {% if form.password_confirm.errors %}
                        <span>{{ form.password_confirm.errors }}</span>
                    {% endif %}
                    <label>Konfirmasi Password <span class="color-red">*</span></label>
                    <input type="password" id="id_password_confirm" name="password_confirm" class="span12" />
                    
                </div>
                <hr>
                <label class="checkbox"><input type="checkbox" id="terms_agree_status"/>&nbsp; Saya menyetujui <a href="{% url "agreement" %}" target="__blank">Peraturan dan Ketentuan</a></label>
                <br>                
                <div class="controls">
                    <button class="btn-u span5" type="submit">Daftar</button>
                </div>
            </form>
        </div><!--/row-fluid-->
	</div><!--/container-->		
</div><!--/body-->
<!--=== End Content Part ===-->

{% endblock body %}

{% block extra_body %}
<script type="text/javascript">
    function check_form(){
        if(!$('#terms_agree_status')[0].checked){
            alert('Anda harus menyetujui ketentuan dan peraturan');
            return false;
        }
        return true;
    }
    $(function(){
        $("#id_first_name").focus();
    });
</script>
{% endblock extra_body %}