{% extends "dashboard/dashboard_base.html" %} 
{% load layout_tags form_tags %} 
{% block dashboard_menu %} 
  {% enterprise_left_menu "enterprise" "browse_product" %} 
{% endblock dashboard_menu %} 

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-fileupload.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-timepicker.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/jquery.tagsinput.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/colorpicker.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/dropzone.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/select2/select2.css" />
{% endblock extra_css %}

{% block body %}
<div class="pageheader">
  <h2><i class="fa fa-home"></i> Products {{ namaToko }}</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">List Products</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
      <a  href="{% url "product_submit" enterprise.slug %}" class="btn btn-success pull-right tooltips" title="Buat toko baru" data-toggle="tooltip" data-trigger="hover">Create Product</a>
      <br/>
      <br/>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">List Products</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table" id="tableProducts">
              <thead>
                 <tr>
                    <th>Barcode</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th></th>
                 </tr>
              </thead>
              <tbody>
                 <tr class="odd gradeX">
                    <td>0123456789123</td>
                    <td>Obat Anti Stress</td>
                    <td>Obat Penenang</td>
                    <td class="center">100</td>
                    <td class="center">X</td>
                 </tr>
              </tbody>
           </table>
          </div><!-- table-responsive -->

        </div><!-- panel-body -->
      </div><!-- panel -->

  <!-- row -->
</div>
<!-- contentpanel -->
{% endblock body %}

{% block extra_body %}

<script src="{{ STATIC_URL }}dashboard/js/jquery.autogrow-textarea.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/bootstrap-fileupload.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/bootstrap-timepicker.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.maskedinput.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.tagsinput.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.mousewheel.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/dropzone.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/colorpicker.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.datatables.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/select2/select2.js"></script>
<script type="text/javascript">
$(function(){
  $('.select2').select2();
  jQuery('#tableProducts').dataTable({
    "bSort": false
  });
});
</script>
{% endblock extra_body %}