{% extends "dashboard/dashboard_base.html" %} 
{% load layout_tags form_tags %} 
{% block dashboard_menu %} 
  {% dashboard_left_menu "commerce" "my-enterprises" %} 
{% endblock dashboard_menu %} 

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-fileupload.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/bootstrap-timepicker.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/jquery.tagsinput.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/colorpicker.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/dropzone.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/select2/select2.css" />
{% endblock extra_css %}

{% block body %}
<div class="pageheader">
  <h2><i class="fa fa-home"></i> Buat Toko</h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="active">Buat Toko</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="minimize">&minus;</a>
          </div>
        </div>
        <div class="panel-body panel-body-nopadding">
          
          <form class="form-horizontal form-bordered" action="{{ request.path }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "form/form_template.html" %}
          
        </div><!-- panel-body -->
        
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
              <button class="btn btn-default">Cancel</button>
            </div>
          </div>
        </div><!-- panel-footer -->
        </form>
      </div><!-- panel -->
      
    
    
      </div>
      
</div>
  <!-- row -->
</div>
<!-- contentpanel -->
{% endblock body %}

{% block extra_body %}

<script src="{{ STATIC_URL }}dashboard/js/jquery.autogrow-textarea.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/bootstrap-fileupload.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/bootstrap-timepicker.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.maskedinput.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.tagsinput.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/jquery.mousewheel.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/dropzone.min.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/colorpicker.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/select2/select2.js"></script>
<script type="text/javascript">
$(function(){
  $('.select2').select2();
});
</script>
{% endblock extra_body %}