<h5 class="sidebartitle">Menu</h5>
<ul class="nav nav-pills nav-stacked nav-bracket">
    
    <li class="nav-parent {% ifequal active_menu "enterprise" %}nav-active active{% endifequal %}">
        <a href="#"><i class="fa fa-home"></i> <span>Store</span></a>
        <ul class="children" {% ifequal active_menu "enterprise" %}style="display:block;"{% endifequal %}>
            <li class="{% ifequal active_item "enterprise_detail" %}active{% endifequal %} tooltips" title="Store Detail" data-toggle="tooltip" data-trigger="hover">
                <a href=""><i class="fa fa-caret-right"></i> Store Detail</a>
            </li>
            <li class+"{% ifequal active_item "browse_product" %}active{% endifequal %}"><a href="{% url 'browse_product' enterprise.slug %}"><i class="fa fa-caret-right"></i>Product</a></li>
        </ul>
    </li>

    <li class="nav-parent {% ifequal active_menu "commerce" %}nav-active active{% endifequal %}">
        <a href="#"><i class="fa fa-suitcase"></i> <span>Commerce</span></a>
        <ul class="children" {% ifequal active_menu "commerce" %}style="display:block;"{% endifequal %}>
            <li class="{% ifequal active_item "my-enterprises" %}active{% endifequal %} tooltips" title="Daftar toko yang anda miliki" data-toggle="tooltip" data-trigger="hover">
                <a href="{% url "my_enterprises" %}"><i class="fa fa-caret-right"></i> Daftar Toko</a>
            </li>
            <li><a href="icons.html"><i class="fa fa-caret-right"></i> Penjualan</a></li>
            <li><a href="typography.html"><i class="fa fa-caret-right"></i> Pelanggan</a></li>
        </ul>
    </li>
    <li class="nav-parent"><a href="#"><i class="fa  fa-gear"></i> <span>Settings</span></a>
        <ul class="children">
            <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Buttons</a></li>
            <li><a href="icons.html"><i class="fa fa-caret-right"></i> Icons</a></li>
            <li><a href="typography.html"><i class="fa fa-caret-right"></i> Typography</a></li>
        </ul>
    </li>
</ul>