{% extends "dashboard/dashboard_base.html" %} 
{% load layout_tags %} 
{% block dashboard_menu %} 
  {% enterprise_left_menu "enterprise" "enterprise_detail" %} 
{% endblock dashboard_menu %} 

{% block body %}
<div class="pageheader">
  <h2><i class="fa fa-home"></i> Store Detail <span>Subtitle goes here...</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li class="active">Store Detail</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  
</div>
  <!-- row -->
</div>
<!-- contentpanel -->
{% endblock body %}
{% block extra_body %}
<script type="text/javascript">
  $(function(){
    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
  });
</script>
{% endblock extra_body %}