{% load helper_tags %}
<div class="form-group {% if field.errors %} has-error {% endif %}">

  {% if field.field.widget|klass|lower == 'checkboxinput' %}
    <div class="checkbox">
      <label>
        {{ field }} {{ field.label }}
      </label>
    </div>

  {% elif field.field.widget|klass|lower == 'hiddeninput' %}
    {{ field }}

  {% else %}
    <label for="{{ field.widget.attrs.id }}" class="control-label col-md-2">
      {{ field.label }}:

      {% if field.field.required %}
        <span class="asterisk">*</span>
      {% endif %}

      {% if field.help_text %}
        <span class="grey-text help-inline"> {{ field.help_text }} </span>
      {% endif %}
      
      {% if field.errors %}
        <span class="help-block">{{ field.errors }}</span>
      {% endif %}
    </label>

    {% if field.field|klass == 'ImageField' %}
      {% if field.value %}
        <img src="{{ field.value.url }}"/>
        <br/> <br/>
      {% endif %}
      <div class="col-sm-6">
        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
          <div class="uneditable-input">
            <i class="glyphicon glyphicon-file fileupload-exists"></i>
            <span class="fileupload-preview"></span>
          </div>
          <span class="btn btn-default btn-file">
          <span class="fileupload-new">Select file</span>
          <span class="fileupload-exists">Change</span>
            <input type="file" name="{{ field.name }}"/>
          </span>
          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </div>
      </div>

    {% elif field.field|klass == 'FileField' %}
      <input type="file" name="{{ field.name }}" id="{{ field.field.widget.attrs.id }}"/>

    {% else %}
    <div class="col-md-8">
      {{ field }}
    </div>
    {% endif %}
  {% endif %}
</div>
